@import url(//fonts.googleapis.com/css?family=Open%20Sans:600);

html, body {
    background-color: rgba(255,255,255,1);
    height: 100%;
    width: 100%;
    padding: 0;
    padding-top: 0px;
    margin:0;
    font-family:'Open Sans', sans-serif;
    font-weight:100;
    text-align:left;
    color: #fff;
    display: table;
}

.container-fluid {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: rgba(255,255,255,1);
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 64px;
    color: rgba(255,255,255,1);
    font-weight: 100;
}
.title-sub {
    font-size: 38px;
    color: rgba(255,255,255,1);
    font-weight: 100;
}
.section {
    position: relative;
    min-height: 1000px;
}
#logo {
    margin-top: 20px;
}
.address {
    font-size: 1.2em;
    font-weight: 500;
    margin: 10px;
    padding: 20px;
    color: rgba(255,255,255,.999);
    background-color: rgba(15,30,30,.0);
    text-align: left;
    margin-left: 90px;
}
.legible p {
    text-align: left;
    margin: 4px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(84,118,118,.99);
}
.subtitle {
    color: rgba(80,140,140,.99);
    text-align: left;
    margin-left: 90px;
}
.pricelist {
    color: #555;
}
ul.prices {
    font-size: .65 em;
    font-weight: 300;
    text-align: left;
    margin: 4px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(80,100,100,.99);
    list-style-type: none;
}
#section-main {
    padding-top: 40px;
    background: #282828 url('../images/rl2005_001.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(255,255,255,0.1);
    text-align: left;
    color: #999;
}
#section-main h1, h2, p {
    padding: 20px;
    color: #799;
}
#section-main h3 {
    text-align: left;
    padding-left: 110px;
}
#section-studio {
    padding-top: 40px;
    background: #282828 url('../images/rl2005_002.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(255,255,255,0.1);
    text-align: left;
    color: #999;
}
#section-studio h1, p {
    color: #778;
}
#section-rental {
    padding-top: 40px;
    background-color: rgba(180, 160, 20, .4);
}
#section-access {
    padding-top: 40px;
    background-color: rgba(255,255,255,0.9);
    background: #282828 url('../images/DSC90003.jpg') no-repeat center center;
    background-size: cover;
}
#section-terms {
    padding-top: 40px;
    background-color: rgba(255,255,255,.9);
    background: #282828 url('../images/DSC90003.jpg') no-repeat center center;
    background-size: cover;
}
#section-terms, li {
    font-size: 12pt;
    line-height: 1.5em;
}
#section-location {
    padding-top: 40px;
    background-color: rgba(180, 160, 20, .4);
}
#section-pictures {
     padding-top: 40px;
     background: #282828 url('../images/rl2005_001.jpg') no-repeat center center;
     background-size: cover;
     background-color: rgba(255,255,255,0.1);
     text-align: left;
     color: #999;
 }
#section-pictures h1, h2, p {
    padding: 20px,20px,20px,20px
background-color: rgba(255, 255, 255, .4);
    color: #799;
}
#section-calendar {
    padding-top: 40px;
    background: #282828 url('../images/rl2005_001.jpg') no-repeat center center;
    background-size: cover;
    background-color: rgba(255,255,255,0.1);
    text-align: left;
    color: #999;
}
#section-calendar h1, h2, p {
    padding: 20px,20px,20px,20px
background-color: rgba(255, 255, 255, .4);
    color: #799;
}
.menu-page-1 {
  margin: 0 80px 0 0;
}
.menu-page-2 {
  margin: 0 0 0 80px;
}

section.flat {
    background: rgba(100, 60, 7, .8);
    padding: 0px 0px 0px 0px;
}
section.flat > .container {
    background: rgba(100, 60, 7, .8);
    padding: 0px 20px 20px 20px;
    padding: 0px 0px 0px 0px;
}
section.flat > .container > .photo-float {
    /*padding: 40px 20px 20px 20px;*/
    padding: 30px 0px 30px 0px;
    min-height: 285px;
}

section.photo {
    background: rgba(180, 160, 20, 1);
    padding: 0px 0px 0px 0px;
}
section.photo > .container {
    background: rgba(255, 255, 255, .2);
    padding: 0px 0px 0px 0px;
}
section.photo > .container > .row {
    padding: 0px 0px 0px 0px;
    background: rgba(100, 60, 7, .0);
    background: rgba(200, 200, 200, .0);
}

.main {
    text-align;left;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a, a:visited {
    text-decoration:none;
}

a.header-link-secure {
    color: #c6c !important;
}

a.header-link {
    color: #666;
}

a.header-dropdown-link {
    font-size: 0.8em;
    color: #666;
}

h1 {
    font-size: 22px;
    margin: 16px 0 0 0;
}

.error {color:red; font-style:italic; font-size:.9em;}

.container {
    background: rgba(255, 255, 255, .999);
}
.icon-white {
    color: #fff;
}

.white-bg {
    background: rgba(255,255,255,.9);
}
.navbar-end {
    margin-top: 0;
    padding-top: 0;
}

.nav-bottom-line {
    background: rgba(255,255,255,.999);
    border-bottom: 1px solid rgba(180,180,180,.7);
}
